{
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": [
    "airbnb-typescript",
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "object-curly-spacing": "off",
    "indent": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/indent": "off",
    "max-len": "off",
    "import/no-cycle": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-unused-vars": [
        "warn",
        {
            "vars": "all",
            "args": "none"
        }
    ],
    "@typescript-eslint/no-explicit-any": [
        "warn",
        {
            "ignoreRestArgs": true
        }
    ],
    "no-plusplus": [
        "error",
        {
            "allowForLoopAfterthoughts": true
        }
    ],
    "@typescript-eslint/semi": "warn",
    "import/prefer-default-export": "off",
    "react/jsx-key": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.test.jsx",
          "**/*.test.ts",
          "**/*.test.tsx",
          "src/tests/**/*"
        ]
      }
    ],
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-boolean-value": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": "off"
  }
}